body {
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  font-size: 16px;
}
#root {
  height: 100vh;
}
.App {
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(88,71,17,1) 45% 55%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: column;
}
.top {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.separator {
  min-width: 2px;
  margin: 24px;
  background: gray;
  height: 50%;
}
.title {
  color: #ffcc33;
  font-size: 4em;
}
.schedule {
  flex: 2;
}
