* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  font-size: 16px;
}
#root {
  height: 100vh;
}
.App {
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(88,71,17,1) 45% 55%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}
.separator {
  min-width: 2px;
  margin: 24px;
  background: gray;
  height: 50%;
}
.title {
  color: #ffcc33;
  font-size: 4em;
}
.bottom {
  width: 100%;
}
.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.days, .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day {
  width: 224px;
  font-size: 2em;
  color: #F9DBB9;
  -webkit-text-stroke: 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363027;
}
.scheduleItem {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(84,84,84);
  background: linear-gradient(355deg, rgba(84,84,84,1) 0%, rgba(43,43,43,1) 100%);
  color: #ededed;
}
.day, .scheduleItem {
  border: 1px solid white;
}
.content {
  height: 100%;
}
.period {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventTitle {
  font-size: 1.5em;
  margin: 24px;
  letter-spacing: 1.5px;
}
.description {
  font-family: 'Roboto', sans-serif;
}
.eventTitle, .description {
  text-align: center;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}
.itemContent {
  height: 168px;
}